* {
    font-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: 'Inter';
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    justify-content: center;
    margin: 5rem;
}


h1 {
    font-size: 49px;
    line-height: 56px;
    text-align: center;
}

#dec1, #dec2, #unico, a {
    color: #FF9900;
    font-weight: bold;
}

p {
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    font-size: small;
    margin: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
    text-align: center;
}


footer {
    flex-direction: column;
    margin-bottom: 33px;
    display: flex;
    justify-content: center;
}

header img {
    margin-bottom: 50px;
    min-height: 290px;
    min-width: 270px;
}

.final img {
    position: fixed;
    bottom: 0;
    right: 0;
}

.final {
    margin: auto;
}

#line {
    margin: 12px auto;
    width: 568px;
    height: 0;
    border: 1px solid #ECEFF2;
}

.final a {
    margin-left: 15px;
}